# System dependency required for PyAudio:
# sudo apt update && sudo apt install portaudio19-dev

streamlit
pillow
google-genai
python-dotenv
chromadb
google-generativeai
pymupdf
SpeechRecognition
pyaudio
requests
geopy